      <center><h1>Traditional Food</h1></center>
      <br>
    </div>
    <!-- <center> -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        <li><a href="archive">Archive</a></li>
        <li><a href="create">Create</a></li>
        <li><a href="/contact">Contact</a></li>
      <ul style="color:white; float: right;" class="nav navbar-nav">
          <li><a href="/login">Login   </a> </li>
          <li><a href="#">Sign Up </a>  </li>
      </ul>
      <!-- </center> -->
      
     